* {
    margin: 0;
    font-family: Open Sans;
}

.text-primary {
    color: #FD6E0A;
}

.btn-primary {
    background: #FD6E0A;
    border-radius: 5px;
    height: 64px;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    padding: 18px 35px;
    border: 0;
    margin: 10px 20px;
}

.btn-secendery {
    background: #ffff;
    border-radius: 5px;
    height: 64px;
    color: #FD6E0A;
    font-size: 18px;
    font-weight: 700;
    padding: 18px 35px;
    border-color: #FD6E0A;
    margin: 10px 20px;
}

.header {
    background: #FFF8F3;
    background-image: url(/images/header_bg.png), url(/images/developer.png);
    background-position: bottom right, left;
    background-repeat: no-repeat;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 50px 200px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    list-style: none;
    margin-left: 50px;
}

.nav-title {
    font-size: 45px;
    font-weight: 800;
    line-height: 61px;
    letter-spacing: 0em;
    text-align: left;
}

.banner {
    margin: 0 40px 0 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-subTitle {
    font-weight: 600;
    font-size: 35px;
}

.banner-title {
    font-weight: 700;
    font-size: 85px;
    margin-bottom: 20px;
}

.banner-discription {
    color: #555454;
    margin-bottom: 30px;
}

Main {
    max-width: 1500px;
    margin: 0 auto;
}

section {
    margin-top: 130px;
}

.about {
    padding: 130px 155px;
    text-align: center;
    background: #FFF8F3;
    border-radius: 10px;
}

.section-title {
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 40px;
    text-align: center;
}

.section-description {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #757575;
    margin-bottom: 40px;
    text-align: center;
}

.about-details {
    display: flex;
    justify-content: space-around;
}

.about-info {
    text-align: center;
    padding: 0 20px;
}

.info-title,
.info-details {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #757575;
}

.info-details {
    color: #474747;
}

.what-i-do {
    padding: 0 155px;
    border-radius: 10px;
}

.skill-container {
    display: flex;
}

.skill {
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    margin: 20px;
    padding: 30px;
}

.skil-title {
    font-weight: 700;
    font-size: 20px;
    color: #181818;
    padding: 20px 0;
}

.skill-details {
    color: #757575;
    font-weight: 400;
}

.resume-content {
    display: flex;
    gap: 30px;
}

.resume-title {
    font-weight: 700;
    font-size: 30px;
}

.resume-item {
    padding: 20px 0;
}

.resume .title {
    padding-bottom: 15px;
    font-weight: 700;
    font-size: 25px;
    color: #474747;
}

.resume .sub-title {
    font-weight: 600;
    font-size: 20px;
    color: #757575;
    padding-bottom: 15px;
}

.resume .description {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #757575;
    padding-bottom: 30px;
}
.resumme-button {
    text-align: center;
    margin: 10px 0;
}

.contact {
    background: #FFF8F3;
    display: flex;
    gap: 30px;
    padding: 100px 120px;
}
.contact input[type='text'], input[type='email'], textarea {
    margin-bottom: 20px;
    border: none;
    width: 100%;
    padding: 15px 30px;
}